<div>
  <p><strong>QUIZ QUESTION:</strong>: {{{prompt}}}</p>
  <p><strong>ANSWER CHOICES:</strong></p>
  {{#each answers}}
  <button class="btn btn-primary">{{{this.text}}}</button>
  {{/each}}

  <br><br>

  <table class="table">
    <tr class="thead-dark table-hover">
      <th>
        {{{conceptsLabel}}}
      </th>
      <th>
        {{{answersLabel}}}
      </th>
    </tr>

    {{#each concepts}}
    <tr>
      <td>{{{this.text}}}</td>
      <td></td>
    </tr>
    {{/each}}
  </table>

  {{#if solutions}}
  {{#if solutions.length}}
  <details>
    <summary><strong>SOLUTION:</strong></summary>

    <table class="table">
      <tr class="thead-dark table-hover">
        <th>
          {{{conceptsLabel}}}
        </th>
        <th>
          {{{answersLabel}}}
        </th>
      </tr>

      {{#each solutions}}
      <tr>
        <td>
          {{{this.matchingConcept}}}
        </td>
        <td>
            <button class="btn btn-primary">{{{this.answerText}}}</button>
        </td>
      </tr>
      {{/each}}
    </table>
  </details>
  {{/if}}
  {{/if}}
</div>
