{{#if pkgInfo}}
<!-- {{pkgInfo.name}} v{{pkgInfo.version}} -->
{{/if}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{docTitle}}</title>
  <link rel="stylesheet" href="{{pathToAssets}}assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{pathToAssets}}assets/css/plyr.css">
  <link rel="stylesheet" href="{{pathToAssets}}assets/css/katex.min.css">
  <link rel="stylesheet" href="{{pathToAssets}}assets/css/jquery.mCustomScrollbar.min.css">
  <link rel="stylesheet" href="{{pathToAssets}}assets/css/styles.css">
  <link rel="shortcut icon" type="image/png" href="{{pathToAssets}}assets/img/udacimak.png" />
</head>

<body>
  <div class="{{#if sidebar}}wrapper{{/if}}">
    {{#if sidebar}}
    {{{sidebar}}}
    {{/if}}

    <div id="{{#if sidebar}}content{{/if}}">
      <header class="container-fluild header">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="align-items-middle">
                {{#if sidebar}}
                <button type="button" id="sidebarCollapse" class="btn btn-toggle-sidebar">
                  <div></div>
                  <div></div>
                  <div></div>
                </button>
                {{/if}}

                <h1 style="{{#if sidebar}}display: inline-block{{/if}}">{{{title}}}</h1>
              </div>
            </div>
          </div>
        </div>
      </header>

      <main class="container">
        <div class="row">
          <div class="col-12">
            {{{contentMain}}}
          </div>

          <div class="col-12">
            <p class="text-right">
              {{#if nextConceptFile}}
              <a href="{{nextConceptFile}}" class="btn btn-outline-primary mt-4" role="button">Next Concept</a>
              {{/if}}
            </p>
          </div>
        </div>
      </main>

      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <p class="text-center">
                {{#if pkgInfo}}
                <a href="{{pkgInfo.homepage}}" target="_blank">{{pkgInfo.name}} v{{pkgInfo.version}}</a>
                {{/if}}
              </p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>


  <script src="{{pathToAssets}}assets/js/jquery-3.3.1.min.js"></script>
  <script src="{{pathToAssets}}assets/js/plyr.polyfilled.min.js"></script>
  <script src="{{pathToAssets}}assets/js/bootstrap.min.js"></script>
  <script src="{{pathToAssets}}assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script src="{{pathToAssets}}assets/js/katex.min.js"></script>
  <script>
    // Initialize Plyr video players
    const players = Array.from(document.querySelectorAll('video')).map(p => new Plyr(p));

    // render math equations
    let elMath = document.getElementsByClassName('mathquill');
    for (let i = 0, len = elMath.length; i < len; i += 1) {
      const el = elMath[i];

      katex.render(el.textContent, el, {
        throwOnError: false
      });
    }

    // this hack will make sure Bootstrap tabs work when using Handlebars
    if ($('#question-tabs').length && $('#user-answer-tabs').length) {
      $("#question-tabs a.nav-link").on('click', function () {
        $("#question-tab-contents .tab-pane").hide();
        $($(this).attr("href")).show();
      });
      $("#user-answer-tabs a.nav-link").on('click', function () {
        $("#user-answer-tab-contents .tab-pane").hide();
        $($(this).attr("href")).show();
      });
    } else {
      $("a.nav-link").on('click', function () {
        $(".tab-pane").hide();
        $($(this).attr("href")).show();
      });
    }

    // side bar events
    $(document).ready(function () {
      $("#sidebar").mCustomScrollbar({
        theme: "minimal"
      });

      $('#sidebarCollapse').on('click', function () {
        $('#sidebar, #content').toggleClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });

      // scroll to first video on page loading
      if ($('video').length) {
        $('html,body').animate({ scrollTop: $('div.plyr').prev().offset().top});
      }

      // auto play first video: this may not work with chrome/safari due to autoplay policy
      if (players && players.length > 0) {
        players[0].play();
      }

      // scroll sidebar to current concept
      const currentInSideBar = $( "ul.sidebar-list.components li a:contains('{{title}}')" )
      currentInSideBar.css( "text-decoration", "underline" );
      $("#sidebar").mCustomScrollbar('scrollTo', currentInSideBar);
    });
  </script>
</body>

</html>
